@import url(//db.onlinewebfonts.com/c/8e7470d3183ddb5b1dee78d40edd3e4d?family=FF+Real+Head);
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}




body {
  margin: 0;
  min-width: 320px;
  cursor: url("./media/cursor.png"), auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
#root {
  background-image: url(./media/bg.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh; /* Set the minimum height of the root element to 100vh */
  display: flex; /* Use flexbox to make child elements fill the height */
  flex-direction: column; /* Arrange child elements vertically */
}

.child {
  flex: 1; /* Make child elements expand to fill available vertical space */
  position: relative;
}
.transiton-effect {
  transition: 0.6s all;
  transform: scale(1.1);
  z-index: 9999;
}
.transiton-effect-leave {
  transition: 0.6s all;
  transform: scale(1);
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
  animation-iteration-count: infinite;
}
.animate__animated.animate__zoomIn {
  --animate-duration: 0.2s;
}
.animate__animated.animate__zoomInUp {
  --animate-duration: 0.6s;
}
.animate__animated.animate__zoomInDown {
  --animate-duration: 1.3s;
}

.point {
  min-width: 10px;
  height: 10px;
  background-color: #6366f1;
  clip-path: circle();
}
.text-wrap {
  word-wrap: break-word;
}
.scroll {
  overflow: auto;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 10px;
}

.bg-effect {
  -webkit-backdrop-filter: blur(5px); /* Safari 9+ and Chrome */
  backdrop-filter: blur(30px); /* Standard syntax */

  /* Vendor prefixes for different browser engines */
  @supports (
    -webkit-backdrop-filter: blur(5px) or backdrop-filter: blur(30px)
  ) {
    -webkit-backdrop-filter: blur(5px); /* Safari 9+ and Chrome */
    backdrop-filter: blur(30px); /* Standard syntax */
  }

  /* Vendor prefixes for Mozilla Firefox */
  @-moz-document url-prefix() {
    background-color: rgba(0, 0, 0, 0.5); /* Fallback color for Firefox */
  }
}

.grand-child {
  position: absolute; /* Position the grandchild element */
  top: 0; /* Position it at the top of the parent (child) element */
  left: 0; /* Position it at the left of the parent (child) element */
  right: 0; /* Position it at the right of the parent (child) element */
  bottom: 0; /* Position it at the bottom of the parent (child) element */
}
 
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}